<extend name="Publice:index" />
<block name="header">
	 <div class="mws-panel grid_8">
        <h2>新用户添加</h2>
        <div class="mws-panel-header">
            <span><i class="icon-ok"></i> 添加新用户</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form id="mws-validate" class="mws-form" action="__URL__/insert" method="post">
                <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label class="mws-form-label">用户名</label>
                        <div class="mws-form-item">
                            <input type="text" name="username" class="required large">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">用户密码</label>
                        <div class="mws-form-item">
                            <input type="password" name="pwd" class="required email large">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">确认密码</label>
                        <div class="mws-form-item">
                            <input type="password" name="repwd" class="required url large">
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label class="mws-form-label">phone</label>
                        <div class="mws-form-item">
                            <input type="text" name="phone" class="required digits large">
                        </div>
                    </div>


                    <div class="mws-form-row">
                        <label class="mws-form-label">用户邮箱</label>
                        <div class="mws-form-item">
                            <input type="email" name="email" class="required digits large">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">状态</label>
                        <div class="mws-form-item">
                            <select class="required large" name="status">
                                <option>--请选择--</option>
                                <option value="0">无</option>
                                <option value="1">有</option>
                            </select>
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label class="mws-form-label">权限</label>
                        <div class="mws-form-item">
                            <select class="required large" name="admin">
                                <option>--请选择--</option>
                                <option value="1">无</option>
                                <option value="2">有</option>
                            </select>
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label class="mws-form-label">佣金比列</label>
                        <div class="mws-form-item">
                            <input type="text" name="scole" class="required digits large">
                        </div>
                    </div>

                     <div class="mws-form-row">
                        <label class="mws-form-label">推广的广告</label>
                        <div class="mws-form-item">
                            <input type="text" name="guanggao" class="required digits large">
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label class="mws-form-label">收入</label>
                        <div class="mws-form-item">
                            <input type="text" name="shouru" class="required digits large">
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label class="mws-form-label">是否结算</label>
                        <div class="mws-form-item">
                            <select class="required large" name="jiesuan">
                                <option>--请选择--</option>
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="mws-form-row">
                        <label class="mws-form-label">代理等级</label>
                        <div class="mws-form-item">
                            <select class="required large" name="daili">
                                <option>--请选择--</option>
                                <option value="1">一级代理</option>
                               
                            </select>
                        </div>
                    </div>
                   
                   
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="btn btn-success" value='提交添加'>
                </div>
            </form>
        </div>      
    </div>
</block>