<extend name="Publice:index" />
<block name="header">
<div class="mws-panel grid_8">
        <h2>后台管理权限分类修改</h2>
        <div class="mws-panel-header">
            <span><i class="icon-ok"></i> 修改权限分类 <a href="__URL__/lookclass">查看全部权限分类</a></span>
        </div>
        <div class="mws-panel-body no-padding">
            <form id="mws-validate" class="mws-form" action="__URL__/lookclass" method="post">
                <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label class="mws-form-label">权限分类名称</label>
                        <div class="mws-form-item">
                            <input type="text" name="name" class="required large" value="{$list['name']}">
                        </div>
                    </div>

                       <div class="mws-form-row">
                        <label class="mws-form-label">描述</label>
                        <div class="mws-form-item">
                            <input type="text" name="describe" class="required large" value="{$list['describe']}">
                        </div>
                      </div>
                            <input type="hidden" name="id" class="required large" value="{$list['id']}">
                    <!-- <div class="mws-form-row">
                        <label class="mws-form-label">用户头像</label>
                        <div class="mws-form-item">
                            <input type="file" name="picture" class="required" >
                            <label for="picture" class="error" generated="true" style="display:none"></label>
                        </div>
                    </div> -->
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="btn btn-success" value='提交修改'>
                </div>
            </form>
        </div>      
    </div>
</block>