<extend name="Publice:index"/>
<block name="header">
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<div class="page_title">
 <h2 class="fl">发布公告</h2>
 <a href="__MODULE__/Announce/lists" class="fr top_rt_btn add_icon">公告列表</a>
</div>
<center>
	<div style="width: 80%;">
		<input type="text" id="title" class="textbox textbox_225" style="width: 98%;margin-bottom: 15px;" placeholder="公告标题"/>
		<div id="container"></div><br>
		<input type="submit" class="link_btn" id="save" value="保存并发布"/>
	</div>
</center>
     <script type="text/javascript">
        var ue = UE.getEditor('container', {
        	initialFrameHeight: 300
        });
        $("#save").click(function(){
        	var title = $("#title").val();
        	var container = ue.getContent();
        	if (title!=='' && container!=='') {
        		$.post('__MODULE__/Announce/add?op=save', {title: title, content: container}, function(rData){
        			alert(rData.msg);
        			if (rData.code == 1) {
        				window.location.href = '__MODULE__/Announce/lists';
        			}
        		});
        	} else {
        		alert('标题或正文不能为空！');
        	}
        });
     </script>
</block>