<!DOCTYPE html>
<html>
<head>
    <title>温馨提示</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
    <div style="display: block;top: 40%;position: absolute;width: 100%;">
        <center>
            <span style="font-family: PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif;font-size: 28px;font-weight: 400;color: #888;">您的账号因违规已被禁止使用</span>
            <br><br>
            <a href="{$Think.config.qq_group}" style="font-family: PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif;font-size: 15px;font-weight: 400;color: #000;">联系客服</a>
        </center>
    </div>
</body>
</html>