<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>爱阅赚</title>
	<link href=https://dbili.cn/Public/Homes/static/css/app.d8330eee1295ab3541d43ee044bec358.css rel=stylesheet>
</head>
<body>
	<div id=app></div>
	<script src=https://hm.baidu.com/hm.js?571f1aa56a727e619f90ecb31ae92898></script>
	<script type=text/javascript src=https://dbili.cn/Public/Homes/static/js/manifest.7b382b424a0b32df460e.js></script>
	<script type=text/javascript src=https://dbili.cn/Public/Homes/static/js/vendor.3e2a6a10e27c5a05792e.js></script>
	<script type=text/javascript src=https://dbili.cn/Public/Homes/static/js/app.1519f8bb1f11bce54c28.js></script>
</body>
</html>
