<!DOCTYPE html>
<html>
<head>
    <title>手机号已绑定</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
    <div style="display: block;top: 30%;position: absolute;width: 100%;">
        <center>
            <span style="color: #616161;font-weight: 400;">已绑定手机号码</span>
            <br><br>
            <span style="font-family: PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif;font-size: 40px;font-weight: 400;color: #888;">{$phone}</span>
        </center>
    </div>
</body>
</html>