<extend name="Publice:index" />
<block name="header">
	 <div class="mws-panel grid_8">
        <h2>用户列表展示</h2>
        <div>
            <form name="fsoso" method="post" action="{:U('search')}" style="width:550px">
            <input type="text" name="aci" class="dfinput" value="{$aci}" style="width:200px" />
            <input  type="submit" class="btn" value="查询" >
        </form>
        </div>
        <div class="mws-panel-header">
            <span><i class="icon-table"></i> 用户列表</span>
           
        </div>
        <div class="mws-panel-body no-padding">
            <table class="mws-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>用户邮箱</th>
                        <th>状态</th>
                        <th>权限</th>
                        <th>注册时间</th>
                        <th>电话</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name='list' item='row'>
                    <tr>
                        <td style=" text-align: center;">{$row['id']}</td>
                        <td style=" text-align: center;">{$row['username']}</td>
                        <td style=" text-align: center;">{$row['email']}</td>
                        <td style=" text-align: center;">{$row['status']}</td>
                        <td style=" text-align: center;">{$row['admin']}</td>
                        <td style=" text-align: center;">{$row['addtime' | date="Y-m-d h:i:s",###]}</td>
                        <td style=" text-align: center;">{$row['phone']}</td>
                      
                 <td  style=" text-align: center;"><a href="__URL__/delete/id/{$row['id']}" class="btn btn-danger">删除</a><a href="__URL__/edit/id/{$row['id']}" class="btn btn-warning">修改</a><br>
                 <a href="__MODULE__/QuanXian/yonghujiaose/id/{$row['id']}" class="btn btn-warning">分配角色</a></td>
                    </tr>
                   </foreach>
                </tbody>
                <tr><td colspan="8" align="center">{$fen}</td></tr>
            </table>
        </div>
    </div>
</block>