<extend name="Publice:index" />
<block name="header">
   <div class="mws-panel grid_8">
       <h2>用户广告列表展示</h2>
        <div class="search_form_2018">
            <form name="fsoso" method="post" action="{:U('search')}" style="width:550px">
            <input type="text" name="aci" class="dfinput" value="{$aci}" style="width:200px" />
            <input  type="submit" class="btn" value="查询" >
        </form>
        </div>
        <div class="mws-panel-header">
            <span><i class="icon-table"></i>用户广告列表</span>

        </div>
        <div class="mws-panel-body no-padding">
            <table class="mws-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>广告主ID</th>
                        <th>关联广告ID</th>
                        <th>标题</th>
                        <th>URL</th>
                        <th>推广模式</th>
                        <th>单价</th>
                        <th>广告素材</th>
                        <th>预算价格</th>
                        <th>审核状态</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>

                    <foreach name='list' item='row'>
                            <tr>
                                <td style=" text-align: center;">{$row['id']}</td>
                                <td style=" text-align: center;">{$row['uid']}</td>
                                <td style=" text-align: center;">{$row['gid']}</td>
                                <td style=" text-align: center;">{$row['title']}</td>
                                <td style=" text-align: center;">{$row['url']}</td>

                                <td style="text-align: center;">
                                  
                                    <if condition="$row['pattern'] == 0"><span title="点击付费">CPC</span></if>
                                    <if condition="$row['pattern'] == 1"><span title="显示效果付费">CPV</span></if>
                                </td>

                                <td style=" text-align: center;"><php> echo admin_fenToYuan($row['price']);</php></td>
                                <td style=" text-align: center;">{$row['matter']}</td>
                                <td style=" text-align: center;"><php> echo admin_fenToYuan($row['bprice']);</php></td>

                                <td style=" text-align: center;">
                                    <if condition="$row['status'] == 0">待审核</if>
                                    <if condition="$row['status'] == 1">审核通过</if>
                                    <if condition="$row['status'] == 2">驳回审核</if>
                                </td>

                                <td style=" text-align: center;">{$row['create_time' | date="Y-m-d H:i:s",###]}</td>
                                <td  style=" text-align: center;">
                                     <a href="__URL__/ddodelete/id/{$row['id']}" class="btn btn-danger">删除</a>
                                     <a href="__URL__/doedit/id/{$row['id']}" class="btn btn-warning">修改</a>
                                     <a href="__URL__/Rapid/id/{$row['id']}" class="btn btn-warning">
                                       <if condition="$row['status'] == 0">审核通过</if>
                                       <if condition="$row['status'] == 1">待审核</if>
                                       <if condition="$row['status'] == 2">驳回审核</if>

                                     </a>
                                     <a href="__URL__/look/id/{$row['id']}" class="btn btn-warning">
                                        查看
                                     </a>
                                </td>
                        </tr>
                   </foreach>
                </tbody>

                <tr>
                    <td colspan="16" align="center">{$fen}</td>
               </tr>
            </table>
        </div>
    </div>
</block>