<extend name="Publice:index" />
<block name="header">
   <div class="mws-panel grid_8">
       <h2>模板列表展示</h2>
        <div class="mws-panel-header">
            <span><i class="icon-table"></i> 模板列表</span>

        </div>
        <div class="mws-panel-body no-padding">
            <table class="mws-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>模板名称</th>
                        <th>备注</th>
                        <th>模板代码</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name='list' item='row'>
                    <tr>
                        <td style=" text-align: center;">{$row['id']}</td>
                        <td style=" text-align: center;">{$row['name']}</td>
                        <td style=" text-align: center;">{$row['remark']}</td>
                        <td style=" text-align: center;" title="{$row['code']}">查看</td>
                        <if condition ="$row['status'] == 0"><td style=" text-align: center;">显示</td><else/><td style=" text-align: center;">不显示</td></if></td>
                        <td style=" text-align: center;">{$row['creat_time']|date="Y-m-d H:i:s",###}</td>
                        <td style=" text-align: center;">{$row['turnover_time']|date="Y-m-d H:i:s",###}</td>


                 <td  style=" text-align: center;">
                     <a href="__URL__/showcasedelete/id/{$row['id']}" class="btn btn-danger">删除</a>
                     <a href="__URL__/showcaseedit/id/{$row['id']}" class="btn btn-warning">修改</a>
                 </td>
                 </tr>
                   </foreach>
                </tbody>

                <tr>
                    <td colspan="8" align="center">{$fen}</td>
               </tr>
            </table>
        </div>
    </div>
</block>