<extend name="Publice:index" />
<block name="header">
<div class="page_title">
 <h2 class="fl">分类文章转移</h2>
</div>
<div>
    <span style="position: absolute;left: 10px;line-height: 30px;">原分类：</span>
    <div style="position: absolute;left: 5%;">
      <select name="category_before" id="category_before" style="width: 150px;">
          <foreach name="list_all" item="vo">
            <option value="{$vo.id}">{$vo.name}</option>
          </foreach>
      </select>
    </div>
    <span style="position: absolute;left: 19%;line-height: 30px;">转移到：</span>
    <div style="position: absolute;left: 23%;">
      <select name="category_after" id="category_after" style="width: 150px;">
          <foreach name="list_all" item="vo">
            <option value="{$vo.id}">{$vo.name}</option>
          </foreach>
      </select>
    </div>
    <input type="submit" name="submit_type" style="height: 30px;line-height: 14px;left: 37%;position: absolute;" class="link_btn" onclick="transfer()" value="转移">
</div>
<br>
<div class="page_title">
 <h2 class="fl">分类列表</h2>
 <a href="__MODULE__/RuanWen/category_add" class="fr top_rt_btn add_icon">添加分类</a>
</div>
<table class="table">
 <tr>
  <th width="3%;">Id</th>
  <th width="10%;">名称</th>
  <th width="3%;">排序</th>
  <th width="15%;">更新时间</th>
  <th width="10%;">操作</th>
 </tr>

 <foreach name="list" item="vo">
   <tr>
    <td>{$vo.id}</td>
    <td>{$vo.name}</td>
    <td>{$vo.level}</td>
    <td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
    <td>
     <a href="__MODULE__/RuanWen/category_edit?id={$vo.id}" title="编辑" class="link_icon">&#101;</a>
     <a href="#" title="删除分类" class="link_icon" onclick="Delete({$vo.id})">&#100;</a>
     <a href="#" onclick="category_move({$vo.id})">置顶</a>
     <a href="#" onclick="deleteArticle({$vo.id})">删除分类全部文章</a>
    </td>
   </tr>
 </foreach>
</table>
<aside class="paging">
{$page}
</aside>
<script type="text/javascript">
  function transfer() {
    var category_before_id = $("#category_before").val();
    var category_after_id = $("#category_after").val();
    var notify = "确定将 '"+$("#category_before").find("option:selected").text()+"' 文章转移到 '"+$("#category_after").find("option:selected").text()+"' 吗？";
    var result = confirm(notify);
    if (result) {
      $.post('__MODULE__/RuanWen/transfer_article?before_id=' + category_before_id + '&after_id=' + category_after_id, '', function(rData){
        if (rData.code == 1) {
          alert(rData.msg);
          window.location.reload();
        } else {
          alert(rData.msg);
        }
      });
    }
  }
  function Delete(id) {
  	$.post("__MODULE__/RuanWen/category_inquire?id=" + id, "", function(rData){
  		if (rData >= 1) {
  			alert("该分类存在" + rData + "篇文章，无法删除！");
  		} else {
  			var result = confirm("id:" + id + " 是否删除？ ");
		    if (result) {
		      $.post('__MODULE__/RuanWen/category_delete?id=' + id, '', function(rData){
		        if (rData.code == 1) {
		          window.location.reload();
		        }
		      });
		    }
  		}
  	});
  }

  function category_move(id) {
    $.post('__MODULE__/RuanWen/category_move?id=' + id, '', function(rData){
      if (rData.code == 1) {
        alert("保存成功");
        window.location.reload();
      } else {
        alert(rData.msg);
      }
    });
  }

  function deleteArticle(id) {
    var result = confirm("id:" + id + " 是否删除分类下全部文章？ (不可恢复) ");
    if (result) {
      $.post('__MODULE__/RuanWen/article_delete?id=' + id, '', function(rData){
        if (rData.code == 1) {
          alert("删除成功");
          window.location.reload();
        } else {
          alert(rData.msg);
        }
      });
    }
  }
</script>

</block>