<extend name="Publice:index"/>
<block name="header">
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<div class="page_title">
 <h2 class="fl">修改文章</h2>
 <a href="__MODULE__/RuanWen/lists" class="fr top_rt_btn add_icon">文章列表</a>
</div>
<center>
	<div style="width: 80%;">
		<form action="?op=save&id={$ruanwen['id']}" enctype="multipart/form-data" method="post">
			<span style="position: absolute;left: 10px;">分类：</span>
			<div style="position: absolute;">
				<select name="category" style="width: 150px;">
			      <foreach name="category" item="vo">
			      	<if condition="$vo.id == $ruanwen['category']">
			      		<option value="{$vo.id}" selected = "selected" >{$vo.name}</option>
			      	<else/>
			      		<option value="{$vo.id}">{$vo.name}</option>
			      	</if>
			      </foreach>
				</select>
			</div>
			<br><br>

			<span style="position: absolute;left: 10px;">分享标题：</span>
			<input type="text" name="title" class="textbox textbox_225" style="width: 100%;margin-bottom: 15px;" placeholder="标题 (分享标题)" value="{$ruanwen['title']}" /><br>
			<span style="position: absolute;left: 10px;">分享描述：</span>
			<input type="text" name="describe" class="textbox textbox_225" style="width: 100%;margin-bottom: 15px;" placeholder="描述 (分享描述,为空取全文前100字)" value="{$ruanwen['describe']}" /><br>
			<span style="position: absolute;left: 10px;">文章内容：</span>
			<script id="container" name="content" type="text/plain">
	        {$ruanwen['content']}
	        </script><br>
			<span style="position: absolute;left: 10px;">分享图标：</span>
			<div style="border: 1px solid #139667;padding:5px 0">
				<img src="{$ruanwen['thumb']}" style="width: 50px;height: 50px;">
		        <input type="file" name="thumb" class="textbox textbox_225" style="width: 95%;box-sizing: border-box;border: none;" placeholder="图片"/>
			</div>

		    <br>

		    <span style="position: absolute;left: 10px;">阅读：</span>
			<input type="text" name="read_num" class="textbox textbox_225" style="width: 100%;margin-bottom: 15px;" placeholder="阅读数量 选填" value="{$ruanwen['read_num']}" /><br>
			<span style="position: absolute;left: 10px;">分享：</span>
			<input type="text" name="share_num" class="textbox textbox_225" style="width: 100%;margin-bottom: 15px;" placeholder="分享数量 选填" value="{$ruanwen['share_num']}" /><br>
            <span style="position: absolute;left: 10px;">佣金：</span>
            <input type="text" name="money" class="textbox textbox_225" style="width: 100%;margin-bottom: 15px;" placeholder="佣金 单位：币(分) 可以不填写" value="{$ruanwen['money']}"/><br>
			<span style="position: absolute;left: 10px;">状态：</span>
			<div style="text-align: left;">
				<label><input name="status" type="radio" value="0" <if condition="$ruanwen['status'] == '0'">checked</if> />显示 </label>
                <label><input name="status" type="radio" value="1" <if condition="$ruanwen['status'] == '1'">checked</if>/>隐藏 </label>
			</div>
			<div class="mws-form-row clearfix" id="ruanwensousuo" style="text-align: left;line-height: 30px;margin-top: 15px;">
                <label class="fl mws-form-label" style="margin-right: 20px;">广告搜索</label>
                    <div class="fl mws-form-item">
                        <div class="col-md-6">
                            <input type="text" class="ruanwen" class="required large">
                            <a  class="btn btn-success shousuo">搜索</a>
                        </div>
                    </div>
            </div>
			<br>
			 <div class="mws-form-row">
                <label class="mws-form-label fl" id="ruanwensousuoXox" style="line-height: 36px;margin-right: 10px;">对应广告</label>
                    <div class="mws-form-item fl">
                        <div class="col-md-6" name = 'rwid' id="nums" style="line-height: 36px;margin: 0 10px;">
                        <if condition = "$list">
                        	<foreach name="list" item="list">
                        		<input type='checkbox' checked name='ids[]' value="{$list['gid']}">{$list['title']}<br>
                        	</foreach>
                        <else/>
                        </if>
                        </div>
                    </div>
            </div>
			<input style="margin-left: 10px;" type="submit" class="fl link_btn" value="修改并发布"/>
		</form>
	</div>
</center>
     <script type="text/javascript">
        var ue = UE.getEditor('container', {
        	initialFrameHeight: 300
        });

        //搜索请求
        $('.shousuo').click(function(){
            var rw = $(".ruanwen").val();
            $.post("__URL__/shousuo",{rw : rw},function(data){
                var num = '';
                for (var i = data.length - 1; i >= 0;i--){
                    var titles = "<input type='checkbox'  name='ids[]' value='"+data[i].id+"'><a  href = '__MODULE__/RuanWen/preview?id="+data[i].id+"' target = 'blank' name='titles'>"+data[i].title+"</a><br>";
                    num += titles;
                }
                $("#nums").html(num);
            });
        });
     </script>
</block>