<extend name="Publice:index" />
<block name="header">
     <div class="mws-panel grid_8">
        <h2>代理添加</h2>
        <div class="mws-panel-header">
            <span><i class="icon-ok"></i> 添加新代理</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form id="mws-validate" class="mws-form" action="__URL__/doadd" method="post">
                <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
                <div class="mws-form-inline">
                    <div class="mws-form-row">
                        <label class="mws-form-label">用户名</label>
                        <div class="mws-form-item">
                            <input type="text" name="username" class="required large">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">用户密码</label>
                        <div class="mws-form-item">
                            <input type="password" name="pwd" class="required email large">
                        </div>
                    </div>
                    <div class="mws-form-row">
                        <label class="mws-form-label">phone</label>
                        <div class="mws-form-item">
                            <input type="text" name="phone" class="required digits large">
                        </div>
                    </div>
                    
                    <div class="mws-form-row">
                        <label class="mws-form-label">代理级别</label>
                        <div class="mws-form-item">
                            <input type="text" name="status" class="required digits large" value="2">
                            <input type="hidden" name="userid" value="{$userid}">
                        </div>
                    </div> 
                </div>
                <div class="mws-button-row">
                    <input type="submit" class="btn btn-success" value='提交添加'>
                </div>
            </form>
        </div>      
    </div>
</block>


